@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.app-container {
  padding: 0.5em;
  /* background: #f4f5f8; */
  overflow: hidden;
  /* background-image: url("./assets/back5.jpg");
  background-size: cover; */
  
 
}
.app-container .floating-add-entry-btn {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  position: absolute;
  bottom: 5%;
  right: 5%;
  background: #1286f1;
  border: none;
}
.app-container .add-icon {
  height: 2em;
}
.app-container .empty-text {
  font-weight: 300;
  margin: 1em 0.5em 2em 0.5em;
  color: gray;
}

.empty-text-container{
  margin-top: 4em;
  font-size: 1.3em;
}

h1 {
  margin: 0.5em 0;
}



/* 
.refresh-btn{
  float:right;
  margin:2vh 2vh 0vh 2vh;
  padding:1vh 1.5vh;
  font-size: 1em;
} */
/* 
.double-tap{
  margin: 3vh 2vh 0vh 1vh;
  font-size: 1.2em;
  color: #CD4436;
  font-weight: 400;
} */

.refresh-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.task_type{
  margin-left: 1.4em;
}

.task-select{
  border: 1px solid #e1e1e1;
  height: 2em;
  width: 10em;
  font-size: 1.2em;
  padding: 0 0.5em;
  border-radius: 4px;
  margin-top: 1em;
}

.task-input{
  /* display: flex;
  flex-direction: row; */
  /* margin:4vh 0vh 3vh 0vh;
  padding:2vh 2.5vh; */
}

.filter{
  margin-top: 3em;
  font-size: 1.3em;
  margin-right: -1em;
  
}
/* 
.double-refresh-part{
  display: flex;
  flex-direction: row;
} */





.toast{
  border-radius: 15px;
}

.toast-success-container {
  color: #000 !important;
  float: left !important;
  width:10em !important;
  padding-right: 6em !important;
  border-radius: 8px !important;
  background:#2AC56C !important;
  border: 1px solid #2AC56C !important;
  box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1) !important;
}
/*
.toast-success-container-after {
  overflow: hidden;
  position: relative;
}

.toast-success-container-after::after{
  top: 0;
  left: 0;
  content: '';
  width: 7px;
  height: 100%;
  position: absolute;
  display: inline-block;
  background-color: #34A853;
} */

@media screen and (max-width:513px){
  .filter{
    margin-right: -3em;
  }
}
@media screen and (max-width:314px){
  .filter{
    margin-right: -1em;
  }
}

